
<p>{{tituloForm}}</p>
>
<span class="p-float-label">
    <input id="float-input" type="text" [(ngModel)]="tarefa.titulo" pInputText>
    <label for="float-input">Titulo</label>
</span>
<br>
<span class="p-float-label">
    <input type="text" [(ngModel)]="tarefa.descricao" pInputText>
    <label for="float-input">Descrição</label>
</span>
<br>
<span class="p-float-label">
    <input type="text" [(ngModel)]="tarefa.status" pInputText>
    <label for="float-input">Status</label>
</span>
<br>
<button pButton type="button" label="Salvar" (click)="click() "></button>
<br>

