.footer {
    height: 5%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #182379;
}

p {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 1rem;
    border-radius: 1px solid rgb(255, 255, 255);
    padding: 0 8%;
    border-radius: 20px;
}
