<p></p>
<h2 mat-dialog-title>Usando o SGT</h2>
<mat-dialog-content    class="mat-typography">
  <h3>Primeiros passos:</h3>
  <p>Para começar a gerenciar as tarefas pelos sistema é fundamental que o cadastro do Setor responsável seja
    realizado anteriormente, assim como o cadastro do Tipo de Tarefa.</p>

  <h3>Preenchimento das informações:</h3>
  <p>As informações de cada campo seguem um padrão, exemplificado em cada campo. Caso os campos não estejam
  preenchidos de acordo com os exemplos o campo não é salvo no sistema.</p>

  <h3>Campo Comentários:</h3>
  <p>O Campo comentário é um campo dependente do Campo Tarefa, deste forma, este só pode ser preenchido após
  o cadastramento de uma tarefa.</p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>

</mat-dialog-actions>
