<form [formGroup]="form" class="form">

  <h1>EXCLUIR COMENTARIO</h1>



  <mat-form-field appearance="fill" class="field">
    <mat-label>Digite o ID para excluir o setor desejado</mat-label>

    <mat-select selected="setor" formControlName="id">
      <mat-option *ngFor="let dataReferencia of comentarios" [value]="dataReferencia.values">
        {{dataReferencia.label}}
      </mat-option>

    </mat-select>


  </mat-form-field>


  <button class="mat-elevation-z8" (click)="deletar()"mat-stroked-button color="accent">EXCLUIR</button>
  <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>
